@import "./base/var";
@import "./mixin/breakpoint";
@import "./mixin/fontStyle";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(1, 4, 27, 0.91);
}
body::before {
    content: "";
    position: fixed;
    position: -webkit-fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("../img/back2.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.header {
    background-color: rgba(225, 208, 161, 0.2);
    padding-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.header h1 {
    /* border:1px solid rebeccapurple; */
    color: rgba(225, 208, 161, 0.7);
    @include font-style(){
        font-family: $CG;
        font-size: 40px;
        font-weight: 600;
        color: rgba(225, 208, 161, 0.7);
    }
    margin-bottom: 20px;
}

.place {
    // border: 1px solid rebeccapurple;
    display: flex;
    justify-content: end;

    .page {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .land {
        // border: 1px solid rebeccapurple;
        width: 45px;
        height: 100%;
        margin-right: 80px;
        border-radius: 5px 5px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .fav {
        // border: 1px solid rebeccapurple;
        width: 40px;
        height: 100%;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
    }
}

.home {
    // border: 1px solid red;
    position: relative;
    width: 95%;
    height: auto;
    min-height: 75vh;
    margin: 40px auto 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2rem;
    grid-gap: 2rem;

    @include s-pad(){
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}
@media all and (max-width: 460px) {
    .home {
        width: 100%;
    }
}

.home div {
    // border: 1px solid red;
    height: 280px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    @media all and (max-width: 1082px) {
        height: 320px;
    }

    div{
        // border: 1px solid green;
        min-height: unset;
    }
    .imgBox{
        width: 100%;
        height: 65%;
        text-align: center;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            cursor: pointer;
        }
        a{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: $white;
            transition: all .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover{
                opacity: .5;
            }
        }
        button{
            border: 0;
            outline: 0;
            border-radius: 100%;
            background-color: #383838;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            opacity: .9;
            cursor: pointer;
            &:hover{
                svg{
                    path{
                        &:nth-of-type(2){
                            fill:indianred;
                        }
                    }
                }
            }

            svg{
                fill:#efefef;
            }
        }
    }
    .infoBox{
        width: 100%;
        height: 35%;
        h5{
            width: 100%;
            height: 70%;
            padding:12px 0px 0px 10px;
            color: rgba($white,.8);
        }

        div{
            // border: 1px solid deeppink;
            width: 100%;
            height: 30%;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            p{
                display: inline-flex;
                // border: 1px solid gold;
                height: 100%;
                color: rgba($white,.8);
                &:first-of-type{
                    width: 60%;
                    align-self: flex-start;
                    padding-left: 10px;
                }
                &:last-of-type{
                    width: 30%;
                    align-self: flex-end;
                    justify-content: flex-end;
                    font-size: 14px;
                }
            }
        }

    }
}

.home .pagination {
    // border: 1px solid green;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    min-height: unset;
    width: 380px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    @include l-phone(){
        width:280px;
    }
    
    ul{
        // border: 1px solid red;
        position: absolute;
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        li{
            border: 1px solid $lightGold;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            @include font-style(){
                font-size: 14px;
                color: $lightGold;
            };
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            margin-right: 10px;
            transition: all .3s;
            cursor: pointer;
            &:last-of-type{
                margin-right: 0 !important;
            }
            &:hover{
                background-color: rgba($lightGold, .5);
                color: $wood;
            }
            @include l-phone(){
                margin-right: 8px;
                width: 25px;
                height: 25px;
            }
            @include s-phone(){
                margin-right: 5px;
                width: 20px;
                height: 20px;
            }
        }
    }
    button{
        position: absolute;
        top: 50%;
        width:30px;
        height: 30px;
        border-radius: 8px;
        border: 0;
        outline: 0;
        background-color: rgba($cofe,.8);
        cursor: pointer;
        transform: translate(0,-50%);
        &:hover{
            background-color: lighten(rgba($cofe,.8),10);
        }
        @include l-phone(){
            width: 25px;
            height: 25px;
        }
    }
    #left{
        left: -40px;
        @include s-phone(){
            left: -5px;
        }
    }
    #right{
        right: -40px;
        @include s-phone(){
            right: -5px;
        }
    }
    .activePagi{
        background-color: $lightGold;
        color: $wood;
    }
}

.favorite{
    position: relative;
    width: 95%;
    height: auto;
    min-height: 75vh;
    margin: 40px auto 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 2rem;
    grid-gap: 2rem;

    @include s-pad(){
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}
@media all and (max-width: 460px) {
    .favorite {
        width: 100%;
    }
}

.view{
    display: none;
}

.activePage{
    display: grid;
}
